* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #cd8080;

}

.logo {
    height: 100px;
}


.encabezado-principal {
    background-color: #f9baba;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.encabezado-principal nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    flex-direction: row;
 
}

.encabezado-principal nav a {
    color: #4b636e;
    font-size: 18px;
    text-decoration: none;
}

.cuerpo-principal {
    background-color: #cd8080;
    color: black;
    font-family: Helvetica, sans-serif;
    width: 300px;
    max-width: 1000px; 
    margin: 0 auto;    
    flex: 1;
}

.cuerpo-principal section {
    padding: 30px;
    margin: 20px;
    border: 1px solid #333333;
    border-radius: 5px;
    
}

.pie-principal {
    background-color: #cd8080;
    color: black;;
    font-family: Helvetica, sans-serif;
    padding: 10px;
    border-top: 1px solid #333333;
    width: 100%;
    text-align: center
}